body, p, ul, li {
  margin: 0;
  padding: 0;
}

a, ul, li {
  text-decoration: none;
  color: black;
}

#index{
  margin-top: 40vh;
}
.sub_title{
  text-align: center;
  margin-top: 50px;
}

.footer{
  text-align: center;
  background-color: darkslategray;
  left: 0;
  bottom: 0;
  width: 100vw;
  color:white;
  font-size:12px;
  line-height: 30px;
  position: fixed;
}

.footer p{
  margin-bottom: 0px;
}

.nav {
  width: 100vw;
  height: 50px;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav_title {
  margin-left: 30px;
  color: white;
  font-family: "Jalnan";
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav_bar {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  margin-right:20px;
  font-weight: 700;
}

.nav_item {
  color: white;
  text-decoration: none;
  margin: 0px;
}

.container {
  border: 2px solid gray;
  width: 500px;
  height:300px;
  margin: 50px auto 142px auto;
}

th{
  padding-left:20px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  width: 100px;
}

th, td{
  padding-top:15px;
  padding-left: 0px;
}

table {
  margin:0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

input, select {
  width: 150px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn{
  width: 150px;
  height: 50px;
  color: white;
  background-color: darkslategray;
  border: none;
  margin-left: 175px;
  font-size: 15px;
}

.login_box{
  width:400px;
  margin: 0 auto;
  margin-top: 20px;
  height:100px;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.login_box form{
  display: flex;
}

.login_box button{
  width: 150px;
  background-color: darkslategray;
  border: none;
  color: white;
  margin-left: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.login_box input{
  width: 200px;
  height:40px;
  margin-left: 20px;
}

.login_signup{
  margin: 35px auto 0 auto;
  padding-bottom: 40px;
  width: 400px;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
}

.login_signup a{
  width: 100px;
  text-align: center;
  line-height: 52px;
  color:white !important;
  background-color: darkslategray;
}

#first_text{
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

#first_text span {
  font-weight: 700;
}

.refrigerator {
  border: 2px solid blue;
  margin: 10px auto;
  width:500px;
  padding: 0 20px;
}

#freeze {
  margin-top: 30px;
  height: 250px;
}

#cold {
  height: 500px;
}

#go_recipe{
  display: block;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
}

.refrigerator_title{
  text-align: center;
  margin-bottom: 10px;
}

.add_btn{
  display: inline-block;
  color: white;
  background: gray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

#refrigerator_container{
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

#freeze_btn{
  top: 235px;
  right: 50px;
}

#cold_btn{
  top: 750px;
  right: 95px;
}

#sup_text{
  font-size: 11px;
  padding-top:0px;
}

#add_ingredient{
  font-size: 11px;
  background-color: gray;
  border-radius: 6px;
  cursor: pointer;
  padding: 2px;
  position: relative;
  top: -200px;
  left: 390px;
  color: white;
}

#ingredient_table{
  margin-top: 50px;
}

.refrigerator_item{
  font-weight: 700;
}

.refrigerator_item span{
  font-weight: 400;
}

.left_days {
  color: red;
}

.del_btn {
  display: inline-block;
  background-color: gray;
  height: 15px;
  width: 15px;
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 10px;
  border-radius: 5px;
}

.ingredient_check_box {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

#recipe_container{
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.recipe_card{
  width: 250px;
  padding: 10px;
}

.recipe_card img{
  width: 250px;
  height: 250px;
}