{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="sub_title">로그인</h2>
<div class="container">
    <div class="login_box">
        <form method="POST" action="{% url 'members:login' %}">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="아이디"/>
                <input type="password" name="password" placeholder="비밀번호"/>
            </div>
            <button class="btn">로그인</button>
        </form>
    </div>
    <div class="login_signup">
        <p>회원가입을 하시면 다양하고 특별한<br/>혜택이 준비되어 있습니다.</p>
        <a href="{% url 'members:signup' %}">회원가입</a>
    </div>
</div>
{% endblock %}