{% extends 'base.html' %}
{% load static %}

{% block content %}
      <h2 class="sub_title">회원가입</h2>
      <div class="container">
        <form method="POST" action="{% url 'members:signup' %}">
          {% csrf_token %}
          <table>
            <tr>
              <th>아이디</th>
              <td><input type="text" name="username"/></td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td><input type="password" name="password"/></td>
            </tr>
            <tr>
              <th>이름</th>
              <td><input type="text" name="name"/></td>
            </tr>
          </table>
          <button class="btn">가입하기</button>
        </form>
      </div>
{% endblock %}